OurBlog/*
!OurBlog/views.py
!OurBlog/urls.py
!OurBlog/templates/
!OurBlog/static/*


BlogGears/*
!BlogGears/views.py
!BlogGears/urls.py
!BlogGears/templates/
!BlogGears/static/*


db.sqlite3
db.sqlite3
.DS_Store
**/**/.DS_Store



