{% extends "base.html" %}
{% load static %}

{% block pg_title%}
{{slug|title}}
{% endblock pg_title%}

{% block css_style%}
    <link rel="stylesheet" href="{% static "blogGears/css/show_detail.css" %}">
{% endblock css_style%}


{% block main_body%}
<div id='parentDiv'>
    <section id="post_info" class="becenter text_center">
        <h3 class='strong_header'>Book review</h3>
        <cite>Kazim Syed<cite>
    </section>
    <section id='post_contents' >
        
        <div class="post_container">
            <h1 class='becenter strong_header'>Difference between Presidential democracy and Parlimentary democracy</h1>
            <p class='becenter text_center'><time>16th Oct 2024</time></p>          

            <figure id='thumbnail'>
            <img src="{% static "mountain_morning.jpg" %}">
            <figcaption>Taken the picture from Jessica Hamilton</figcaption>
            </figure>
        
        </div>
        
        
        <article id='author_info' class='belcenter'>
            <div id="author_grid">
                <figure id='author_img'> 
                    <img src="{% static "ice_valley.jpg" %}" alt="">
                </figure>
                <div class="author_info">
                    Michelle Cottle writes about national politics for Opinion and
                    is a host of the podcast “Matter of Opinion.” Lorem ipsum dolor sit amet 
                    consectetur adipisicing elit. Tempore, et delectus sed ullam maxime iste 
                    cumque quisquam cum repudiandae nam quaerat labore pariatur non! Esse 
                    aliquid odit eum dolorem corporis.

                </div>
                    
            </article>
        
        <div id='controls' class=" becenter text_center">
            COMMENTS, SHARE, SAVE. 
        </div>

        <main id='datapack' class='belcenter'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam eaque nihil esse voluptates doloremque natus sint facere optio nostrum reprehenderit tenetur eum dignissimos unde totam dolorum, rem dolor placeat. Reiciendis.
            Ratione ipsa quisquam dolorem similique animi earum architecto, exercitationem, rerum delectus eveniet quae et. Ducimus consequatur voluptate facilis, quisquam earum veritatis ea laboriosam, blanditiis non, cum repellat sit eum eos!
            Esse voluptates, quae neque vero qui iure odit eveniet quaerat quo. In expedita nobis suscipit ipsam explicabo rerum optio iure, accusantium a provident dignissimos soluta! Commodi, illum totam. Blanditiis, quasi.
            Nulla blanditiis dolore, laboriosam corrupti itaque quos sed nihil delectus atque laudantium doloribus suscipit natus ad exercitationem, quisquam molestias unde illo est necessitatibus veritatis. Laboriosam eos error hic ut ad?
            Placeat aut ex dolore obcaecati voluptatibus provident deleniti inventore ut est maxime officia alias nobis cupiditate repellat veniam amet aperiam hic incidunt, ullam at odit consequuntur a suscipit quod. Eius?
        </main>
    </section>

</div>
    
{%endblock main_body%}